<div class="calculator">
    <input type="text" class="show" [value]="currentNumber" disabled>
    <div class="cells">
        <button type="button" class="operations" (click)="operation('+')"  value="+">+</button>
        <button type="button" class="operations" (click)="operation('-')"  value="-">-</button>
        <button type="button" class="operations" (click)="operation('*')"  value="*">*</button>
        <button type="button" class="operations" (click)="operation('/')"  value="/">/</button>
        
        <button type="button" class="operations" (click)="operation('%')"  value="%">%</button>
        <button type="button" class="operations" (click)="sqrt()"  value="sqrt">sqrt</button>
        <button type="button" class="operations" (click)="operation('pow')"  value="pow">pow</button>
        <button type="button" class="operations" (click)="clearall()"  value="clear">C</button>

        <button type="button" class="numbers" (click)="enterNumber('7')"  value="7">7</button>
        <button type="button" class="numbers" (click)="enterNumber('8')"  value="8">8</button>
        <button type="button" class="numbers" (click)="enterNumber('9')"  value="9">9</button>
        <button type="button" class="operations" (click)="enterNumber('0')"  value="0">0</button>

        <button type="button" class="numbers" (click)="enterNumber('4')"  value="4">4</button>
        <button type="button" class="numbers" (click)="enterNumber('5')"  value="5">5</button>
        <button type="button" class="numbers" (click)="enterNumber('6')"  value="6">6</button>
        <button type="button" class="operations" (click)="clear()"  value="CE">CE</button>

        <button type="button" class="numbers" (click)="enterNumber('3')"  value="3">3</button>
        <button type="button" class="numbers" (click)="enterNumber('2')"  value="2">2</button>
        <button type="button" class="numbers" (click)="enterNumber('1')"  value="1">1</button>
        <button type="button" class="operations" (click)="operation('=')"  value="=">=</button>


    </div>
</div>